main {
}
    h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size:35px;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size:30px;
}

p {
    font-family: 'Montserrat', sans-serif;
}