/* Global */

* {
    box-sizing: border-box;
} 
@font-face {
	font-family: "Playlist Script";
	src: url('Playlist Script.otf');
}

main {
    margin : 10px 10px;
}

h1 {
    text-align: center;
    font-family: 'Playlist Script';
    font-size:50px;
    font-weight: 900;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size:30px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size:20px;
    text-align:justify;
}

button {
    margin-top: .25 rem;
    margin-bottom: .25 rem;
    color:#fff;
    background-color:#00C0E2;
    border-color:#00C0E2;
    font-weight: 300;
    font-size: 1.5rem;
    border-radius: .25rem;
    cursor: pointer;
    padding:10px;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #00C0E2;
    text-decoration:none;
    font-size:20px;
    font-family: 'Montserrat', sans-serif;
}

a:hover {
    color:#C9E165;
}

@media only screen and (min-width:1200px) {
   
    main {
        margin : 10px 105px;
    }
}
/*
.##....##....###....##.....##.########.....###....########.
.###...##...##.##...##.....##.##.....##...##.##...##.....##
.####..##..##...##..##.....##.##.....##..##...##..##.....##
.##.##.##.##.....##.##.....##.########..##.....##.########.
.##..####.#########..##...##..##.....##.#########.##...##..
.##...###.##.....##...##.##...##.....##.##.....##.##....##.
.##....##.##.....##....###....########..##.....##.##.....##
*/
/*Navbar*/
nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgrey;
    color: white;
 }

 nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly; 
    padding : 4px 0px;  
 }

 nav a {
    text-decoration: none;
    color: black;
 }

 nav li img {
     display: block;
     margin: auto;
     width:30px;
     height: 30px;
 }

 /*.navGallery2 {
     display: none; }*/

 @media only screen and (min-width:1200px) {
    
    header {
        display :flex;
        background-color: grey;
        align-items: center;
    }
    
    nav {
        position: initial ;
        width: 100%;
        background-color: grey;
        color: white;
        text-align: center;
    }

    nav ul {
        justify-content: flex-end;    
    }

    nav li {
        margin : 5px; 
    }
    
    /*.navGallery2 {
        display: block ;
    }*/

    nav li img {
        display: none;
    }
}
/*
.##.....##..#######..##.....##.########
.##.....##.##.....##.###...###.##......
.##.....##.##.....##.####.####.##......
.#########.##.....##.##.###.##.######..
.##.....##.##.....##.##.....##.##......
.##.....##.##.....##.##.....##.##......
.##.....##..#######..##.....##.########
*/
/* Home Page */

.carousel
{
   height: 300px;
   background: #D0D1D9;
}

/*
slider {
 display: block;
 width: 100%;
 height: 100%;
 background-color: black;
 overflow: hidden;
 position: absolute;
}

slider > * {
 position: absolute;
 display: block;
 width: 100%;
 height: 100%;
 background:#1f1f1f;
 animation: slide 12s infinite;
 overflow: hidden;
}

slide:nth-child(1){
 left: 0%;
 animation-delay: -1s;
 background-image: url(1.jpg);
 background-size: cover;
 background-position: center;
}

slide:nth-child(2){
 animation-delay: 2s;
 background-image: url(2.jpg);
 background-size: cover;
 background-position: center;
}

slide:nth-child(3){
 animation-delay: 5s;
 background-image: url(3.jpg);
 background-size: cover;
 background-position: center;
}

slide:nth-child(4){
 left: 0%;
 animation-delay: 8s;
 background-image: url(4.jpg);
 background-size: cover;
 background-position: center;
}

slide p {
 font-family: Comfortaa;
 font-size: 70px;
 text-align: center;
 display: inline-block;
 width: 100%;
 margin-top: 340px;
 color: #fff;
}

@keyframes slide {
 0% { left: 100%; width: 100%; }
 5% { left: 0%; }
 25% { left: 0%; }
 30% { left: -100%; width: 100%; }
 30.0001% { left: -100%; width: 0%; }
 100% { left: 100%; width: 0%; }
}
*/
/*
..######...########.##.....##.########.##.....##.########
.##....##.....##....##.....##.##.......###...###.##......
.##...........##....##.....##.##.......####.####.##......
.##...####....##....#########.######...##.###.##.######..
.##....##.....##....##.....##.##.......##.....##.##......
.##....##.....##....##.....##.##.......##.....##.##......
..######......##....##.....##.########.##.....##.########
*/
/*GalleryTheme*/
.row {
    display: flex;
    width: 100%;
    justify-content: center;
    /* flex-wrap: wrap; */

    /* display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
     */
  }
  .column {
      margin: 10px;
      border: 1px solid black;
      
  }

  .column img{
      width: 350px;
      height: 350px;
  }
/*   
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  } */

  .global {
      /* width: 50%; */   display: flex;
    width: 770px;
    justify-content: center;
    flex-wrap: wrap;
  }
section {
    text-align: center;
}
/*

img { 
   
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    /*
    width: 100%;
    max-width: 400px;
    height: auto;
    align-items: center;
  
}

 */


@media screen and (min-width: 1200px) {


        /* .column {
          -ms-flex: 100%;
          flex: 100%;
          max-width: 100%;
          border: 1px solid black;
          background-color: lightgray;
          height: 350px;
          margin-bottom: 5%;
        } */

        /* img {
            display: block;
            height: 300px;
            width: 250px;
        } */
    }

/*
..######...########..########.########....###....####.##......
.##....##..##.....##.##..........##......##.##....##..##......
.##........##.....##.##..........##.....##...##...##..##......
.##...####.##.....##.######......##....##.....##..##..##......
.##....##..##.....##.##..........##....#########..##..##......
.##....##..##.....##.##..........##....##.....##..##..##......
..######...########..########....##....##.....##.####.########
*/





/*
.########..########...#######..########.####.##.......########
.##.....##.##.....##.##.....##.##........##..##.......##......
.##.....##.##.....##.##.....##.##........##..##.......##......
.########..########..##.....##.######....##..##.......######..
.##........##...##...##.....##.##........##..##.......##......
.##........##....##..##.....##.##........##..##.......##......
.##........##.....##..#######..##.......####.########.########
*/
/* CSS formular and map of Profile's page */

label {
    display : none;
}

form {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.formular {
    margin-top: 10px;
    width: 80%;
    height: 25px;
    border: 2px solid rgb(0,192,226);
    border-radius: 5px;
    border-top : 2px solid rgb(201,225,101);
    border-right: 2px solid rgb(201,225,101);
    box-shadow: 2px 2px 1px grey;
}

textarea {
    margin-top: 10px;
    width: 80%;
    height: 60px;
    border: 2px solid rgb(0,192,226);
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    border-top : 2px solid rgb(201,225,101);
    border-right: 2px solid rgb(201,225,101);
    box-shadow: 2px 2px 1px grey;
}

iframe {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid rgb(0,192,226);
    border-top : 2px solid rgb(201,225,101);
    border-right: 2px solid rgb(201,225,101);
    box-shadow: 2px 2px 1px grey;
}

#map {
    display: flex;
    justify-content: center;
}

.informations {
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
}

/*
.########..#######...#######..########.########.########.
.##.......##.....##.##.....##....##....##.......##.....##
.##.......##.....##.##.....##....##....##.......##.....##
.######...##.....##.##.....##....##....######...########.
.##.......##.....##.##.....##....##....##.......##...##..
.##.......##.....##.##.....##....##....##.......##....##.
.##........#######...#######.....##....########.##.....##
*/
/* CSS du Footer Projet-1*/

footer
    
{
    background-color: black;
     color: white;
     font-family: "Montserrat", "Open Sans" 

    
}

.main-footer

{
    display: flex;
    justify-content: space-around;
    
    
}

li 
{
    list-style: none;
   

}

.bottom-footer

{
display: flex;
align-items: center;
justify-content: space-around;
padding-bottom: 10px;
}